{% extends "header.html" %}
{% block content %}
<form method="post">
    <table border="0">
        <tbody>
            <tr>
                <td><img src="static/aqua.png" alt="Aquarium" width="128" height="128" /><strong><br /></strong></td>
                <td>
                    <h1>Aqua control</h1>
                    <h2>{% if current_user.is_authenticated %} User: {{ current_user.name }} {% else %} no logged {%
                        endif %}</h2>
                </td>
            </tr>
            <tr>
                <td><strong>Info</strong></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Time</td>
                <td>00:00:00</td>
            </tr>
            <tr>
                <td>Watter temperature</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Air temperature</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Air humidity</td>
                <td>0</td>
            </tr>
            <tr>
                <td><strong>MQTT</strong></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>host</td>
                <td><input id="mqtt_host" type="text" value="{% block mqtt_host %}localhost{% endblock mqtt_host %}" />
                </td>
            </tr>
            <tr>
                <td>port</td>
                <td><input id="mqtt_port" type="text" value="1883" /></td>
            </tr>
            <tr>
                <td>topic</td>
                <td><input id="mqtt_topic" type="text" value="/topic/aqua" /></td>
            </tr>
            <tr>
                <td><strong>Light channel A</strong></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Current</td>
                <td><input id="lighta_current" type="text" value="0" />%</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table border="2">
                        <tbody>
                            <tr>
                                <td>00:00</td>
                                <td>01:00</td>
                                <td>02:00</td>
                                <td>03:00</td>
                                <td>04:00</td>
                                <td>05:00</td>
                                <td>06:00</td>
                                <td>07:00</td>
                                <td>08:00</td>
                                <td>09:00</td>
                                <td>10:00</td>
                                <td>11:00</td>
                            </tr>
                            <tr>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table border="2">
                        <tbody>
                            <tr>
                                <td>12:00</td>
                                <td>13:00</td>
                                <td>14:00</td>
                                <td>15:00</td>
                                <td>16:00</td>
                                <td>17:00</td>
                                <td>18:00</td>
                                <td>19:00</td>
                                <td>20:00</td>
                                <td>21:00</td>
                                <td>22:00</td>
                                <td>23:00</td>
                            </tr>
                            <tr>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                                <td><input type="number" value="0" size="3" style="width:40px;" /></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" id="submit" value="Save"></td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}